<h1 class="text-center mt-4">List of all Articles</h1>

<%= render 'article', obj: @articles %>


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"> <%= will_paginate @articles, class: "page-link font-weight-normal "%></li>
  </ul>
</nav>