<h1 class="text-center mt-4"> Welcome to <%= @user.username %>'s page </h1>
<div class="container">
    <div class="row justify-content-md-center">
    <%= gravatar_for @user, size: 150%>
    </div>
</div>
<h4 class="text-center mt-4"><%= @user.username %>'s articles </h4>   
<%= render 'articles/article', obj: @user.articles %>
