<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Post it!</h1>
    <p class="lead">Hey, let me hear your thoughts about anything!.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <% if !logged_in? %>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    <% end %>
  </div>
</div>

